<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wen.bean.CRUD.userMapper">

	<!-- 可以给包取别名 -->
	<!-- 给com.wen.bean.CRUD.User在conf.xml中取别名了, _User -->
	<insert id="add" parameterType="_User">
		insert into user (name, age) value (#{name}, #{age});
	</insert>

	<update id="update" parameterType="_User">
		update user set name=#{name}, age=#{age} where id=#{id};
	</update>

	<delete id="delete" parameterType="int">
		delete from user where id = #{id};
	</delete>
	
	<select id="getUser" parameterType="int" resultType="_User">
		select * from user where id=#{id};
	</select>
	
	<select id="getAllUser" resultType="_User">
		select * from user;
	</select>

</mapper>