<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="../../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="checkbox">
        myValue: <input type="text" v-model="myValue"><br><br>

        <button type="button" v-on:click="changeList">修改下拉项</button>
        <button type="button" v-on:click="addList">增加下拉项</button><br><br>
        <select>
            <option v-for="(opt, index) in optionsList" v-bind:value="opt.id">{{opt.text}}</option>
        </select><br><br><br>
    </div>

</body>
<script type="text/javascript">
    new Vue({
        el: '#checkbox',
        data: function () {
            return {
                myValue: "",
                optionsList: [
                    { id: 0, text: '蔬菜' },
                    { id: 1, text: '奶酪' },
                    { id: 2, text: '果汁' }
                ]
            }
        },
        watch:{
            //监听data中的myValue变化
            myValue: function (newValue, oldValue) {
                console.info("新值: " + newValue + " ,旧值: " + oldValue);
            },

            /*当data中的optionsList的值发生变化, 如:修改原始的值, 或者 增加选项, 都会触发下面事件*/
            /*是改变下拉项的值, 而不是改变select下拉选项 onChange*/
            optionsList: function () {
                console.info("this optionsList value or list has change...");
            }
        },
        methods: {
            changeList: function () {
                /*改变optionsList原有的值*/
                Vue.set(this.optionsList, 1, {id: 6, text: '奶酪_修改'});
            },
            addList: function () {
                /*增加optionsList属性*/
                this.optionsList.push({id: 3, text: "糖果"});
            }
        }
    });
</script>
</html>
